.brand-logo {
    margin-left: 30px;
}

input {
    color: white;
}

.googleMap {
    height: 350px;
    width: 85%;
    margin: 15px auto 15px auto;
}

#map {
    display: none;
}

#countryInfo {
    display: block;
}

#graphs {
    display: none;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}