input {
    color: white;
}

.googleMap {
    height: 400px;
    width: 85%;
    margin: 15px auto 15px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#map {
    display: none;
}

#countryInfo {
    display: block;
}

#graphs {
    display: none;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
}

.logo {
    font-size: 2.1rem;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin-left: 25px;
}

#getStarted {
    font-size: 30px
}

.links {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0px;
}

